{% form_theme form 'form/fields.html.twig' %}
{{ form_start(form) }}
	{# {{ form_widget(form) }} #}
	{{ form_row(form.name) }}
	{{ form_row(form.due) }}

	<h3>Tags</h3>
	<ul class="tags" data-prototype="{{ form_widget(form.tags.vars.prototype)|e('html_attr') }}">
		{% for tag in form.tags %}
			<li>{{ form_row(tag.name) }}</li>
		{% endfor %}
	</ul>
{{ form_end(form) }}