<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>
		{% block title %}
			Test Symfony App
		{% endblock %}
	</title>
	{% block stylesheets %}
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
		<link href="{{ asset('styles/styles.css') }}" rel="stylesheet" />
	{% endblock %}
	{% block scripts %}
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
	{% endblock %}
</head>
<body>
	<nav class="indigo">
		<div class="nav-wrapper">
			<a href="{{ path('test') }}" class="brand-logo">Logo</a>
			<ul id="nav-mobile" class="right hide-on-med-and-down">
				<li><a href="{{ path('task_index') }}">Tasks</a></li>
				<li><a href="{{ path('homepage') }}">Products</a></li>
				<li><a href="{{ path('home') }}">Lucky Numbers</a></li>
			</ul>
		</div>
  </nav>
	{% block body %}
		<h4>Default template</h4>
	{% endblock %}
	{% for flash_message in app.session.flashBag.get('notice') %}
		<script>			
			Materialize.toast('{{ flash_message }}', 4000)
		</script>
	{% endfor %}
</body>
</html>