{% extends 'template.html.twig' %}

{% block title %}
	Edit Task
{% endblock %}

{% block scripts %}
	{{ parent() }}
	<script src="{{ asset('js/tagFormHandler.js') }}"></script>
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Task edit</h1>

		<div class="row section">
			{% include 'form/taskForm.html.twig' %}
		</div>

		<div class="row section">
			<a href="{{ path('task_index') }}" class="btn">Back to the list</a>
			{{ form_start(delete_form) }}
				<input type="submit" value="Delete" class="btn red">
			{{ form_end(delete_form) }}
		</div>
	</div>
{% endblock %}
